<html>
    <head>
        <title>List of Available Brands</title>
    </head>
    <body>
        <h1>Brands</h1>

        {% if brands is not empty %}
            <p>Here are the available brands:</p>
            <ul>
                {% for brand in brands %}
                <form action="/brands/{{ brand.getId }}">
                    <button type="submit">{{ brand.getName }}</button>
                </form>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no available brands.</p>
        {% endif %}

        <form action="/brands" method="post">
            <label for="brand_name">Add a brand:</label>
            <input id="brand_name" name="brand_name" placeholder="Brand Name">
            <button type="submit">Add</button>
        </form>

        <form action="/delete_brands" method="post">
            <button type="submit">Clear ALL brands</button>
        </form>

        <form action="/">
            <button type="submit">Back</button>
        </form>
    </body>
</html>
