<html>
    <head>
        <title>Shoe Search</title>
    </head>
    <body>
        <h1>Library</h1>
        <h3><a href="/shoes">List of Shoes</a></h3>
        <h3><a href="/stores">List of Stores</a></h3>
    </body>
</html>
