<html>
    <head>
        <title>Shoe Search</title>
    </head>
    <body>
        <h1>Shoes</h1>
        <form action="/brands">
            <button type="submit">Brands</button>
        </form>

        <form action="/stores">
            <button type="submit">Stores</button>
        </form>
    </body>
</html>
